<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="zh">

<head>
    <title>钉钉微应用</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="钉钉微应用">
    <!-- 这个必须引入的啊，钉钉的前端js SDK, 使用框架的请自行参照开发文档 -->
    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.10.3/dingtalk.open.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-2.1.4.js"></script>

</head>

<body>
<div>
    <h1>hello 钉钉!</h1>
    <br>
    <h2>解析url,获取的corpId:</h2>
    <p id="corpId"></p>
    <br>
    <h2>扫码登录获取的 code:</h2>
    <p id="qrCode"></p>
    <br>
    <h2>dd.requestAuthCode 获取的code:</h2>
    <p id="code"></p>
    <br>
    <h2>请求服务端,登录返回的结果:</h2>
    <table border="1" id="result">
        <tr>
            <th>name</th>
            <th>value</th>
        </tr>
    </table>
</div>
</body>

<script type="text/javascript">
    // 解析url中包含的corpId
    let corpId = getQueryString("corpid");
    // 解析url中包含的code
    let code = getQueryString("code");
    $("#corpId").append(corpId)
    $("#qrCode").append(code)
    // code 不为空，则代表扫码过来(不能排除是手动故意添加 code)
    if (code) {
        $.get("http://bruce.vaiwan.com/user/dd/qr/authCode/" + code, response => {
            // 我们服务器返回的信息
            // 下面代码主要是将返回结果显示出来，可以根据自己的数据结构随便写
            for (let item in response) {
                if (response[item]) {
                    $("#result").append("<tr><td>" + item + "</td><td>" + response[item] + "</td></tr>")
                }
            }
        });
    } else {
        // code 为空，那默认走钉钉免登
        // 钉钉sdk 初始化
        // dd.ready参数为回调函数，在环境准备就绪时触发，jsapi的调用需要保证在该回调函数触发后调用，否则无效。
        dd.ready(function () {
            //使用SDK 获取免登授权码
            dd.runtime.permission.requestAuthCode({
                corpId: corpId,
                onSuccess: function (result) {
                    let code = result.code;
                    $("#code").append(code)
                    // 请求我们服务端的登陆地址，注意不能使用 localhost,也可以通过内网穿透工具换成任意域名
                    $.get("http://bruce.vaiwan.com/user/dd/authCode/" + code, response => {
                        // 我们服务器返回的信息
                        // 下面代码主要是将返回结果显示出来，可以根据自己的数据结构随便写
                        for (let item in response) {
                            if (response[item]) {
                                $("#result").append("<tr><td>" + item + "</td><td>" + response[item] + "</td></tr>")
                            }
                        }
                    });
                }
            });
        });
    }

    function getQueryString(name) {
        let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        let r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return decodeURIComponent(r[2]);
        }
        return null;
    }

</script>

</html>